.container {
    margin: 12px 0px;

    .mat-divider {
        margin: 12px 0px;
    }

    .image-box {
        border: 1px solid lightgrey;
        width: 150px;
        height: 125px;
    }

    .dropdown {
        border: 1px solid lightgrey;
        background-color: white;
        font-size: 12px;
    }

    .btn {
        border: 1px solid lightgrey;
        background-color: white;
    }
}