<div>
    <div fxLayoutAlign="space-between">
        <div>
            <button mat-icon-button>
                <mat-icon>menu_open</mat-icon>
            </button>
        </div>
        <div fxLayoutGap="5px" fxLayoutAlign="end">
            <button class="icon-btn">
                <mat-icon class="active-icon">stop_circle</mat-icon>
            </button>
            <button class="icon-btn">
                <mat-icon>settings</mat-icon>
            </button>
            <button class="icon-btn">
                <mat-icon>video_call</mat-icon>
            </button>
            <button class="btn">Upload Video</button>
        </div>
    </div>

    <div class="camera-view-container">
        <div fxLayoutAlign="center" class="camera-view-content">
            Camera View
        </div>
    </div>
</div>